// {
//   "plugins": [
//     [
//       "import",
//       {
//         "libraryName": "boss-lib-component", // 组件名
//         "libraryDirectory": "packages" // 组件源码包名
//         // "styleLibraryName": "theme-chalk"
//       }
//     ]
//   ]
// }
// {
//   "presets": [["es2015", { "loose": true }]],
//   "plugins": ["transform-vue-jsx"],
//   "env": {
//     "utils": {
//       "plugins": [
//         ["module-resolver", {
//           "root": ["bs-lib"],
//           "alias": {
//             "bs-lib/src": "bs-lib/lib"
//           }
//         }]
//       ]
//     }
//   }
// }
{}
